.Dropdown {
  position: relative;
  width: 380px;
  padding: 20px;
  border: 1px solid black;
  margin: 50px;
}

.Dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 95%;
  padding: 10px;
  text-align: center;
  background-color: teal;
  color: white;
}
